<div class="d-flex align-items-center flex-grow-1">
  <% if current_user == checklist_item.trip&.user %>
    <%= check_box_tag "item_#{checklist_item.id}",
                      1,
                      checklist_item.checked || trip_started,
                      class: "form-check-input me-3",
                      id: "item_checkbox_#{checklist_item.id}",
                      data: {
                        action: "change->inline-edit#toggleStrikethrough",
                        "inline-edit-item-id-value": checklist_item.id
                      } %>
   <% end %>
  <label for="item_checkbox_<%= checklist_item.id %>" class="form-check-label">
    <span class="checklist-text <%= 'text-decoration-line-through text-muted' if checklist_item.checked && current_user == checklist_item.trip&.user %>">
      <%= checklist_item.item&.name&.humanize || "Unnamed Item" %> (<%= checklist_item.item&.category&.humanize %>)
    </span>
  </label>
</div>

 <% if current_user == checklist_item.trip&.user %>
  <!-- Action buttons -->
  <div class="d-flex align-items-center action-buttons">
  <!-- Edit button to toggle inline edit form -->
    <button type="button"
            class="btn btn-sm btn-outline-primary ms-2"
            style="font-family: 'DM Sans', sans-serif; border-radius: 10px"
            data-action="click->inline-edit#showForm"
            data-inline-edit-target="editButton"
            aria-label="Edit item">
      <i class="fas fa-pen"></i>
    </button>

    <!-- Delete button -->
    <%= button_to trip_checklist_item_path(checklist_item.trip, checklist_item), method: :delete, class: "btn btn-sm btn-outline-icon-danger ms-2", style: "border-radius: 10px", data: {  action: "ajax:success->checklist-items#destroy", "inline-edit-target": "deleteButton", confirm: "Are you sure?" } do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>

  </div>
<% end %>
