<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="<%= asset_path('pakka-logo.png') %>" type="image/png">
    <title>Pakka | From Lists to Adventures</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <main class="container-fluid px-0">
      <%= yield %>
    </main>
  </body>
</html>
